<!--包含头部文件-->
{include file="public/header" /}
<body>
<div class="page-container">
	<form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="{:url('Category/edit')}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>品类名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$category.name}" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>品类颜色：</label>
			<div class="formControls col-xs-8 col-sm-9">

				{volist name="color" id="vo"}
				<div class="col-sm-4" style="margin-bottom: 2px;">
					<label>
						<input type="checkbox" class="checkbox" value="{$vo.id}"  name="color[]" {in name="vo['id']" value="$category['color_id']"}checked="checked"{/in}>
						<span style="display: inline-block; vertical-align: middle; margin-right: 2px; background-color: rgb({$vo.rgb}); {eq name='$vo.name' value='WHITE'}border:solid 1px #000;width: 20px; height: 20px;{else/}width: 22px; height: 22px;{/eq}"></span>{$vo.name}
					</label>
				</div>
				{/volist}
			</div>
		</div>
		<!--<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="parent_id" class="select">
					<option value="0">一级分类</option>

					<option value="">--</option>

				</select>
				</span>
			</div>
		</div>-->

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input hidden name="id" value="{$category.id}">
				<button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>

				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}

</body>
</html>