{include file="public/header"}

<!--栏目图-->
<div class="container news-bg">
    <div class="row">
    </div>
</div>

<!--新闻内容-->
<div class="container content">
    <div class="breadnav">
        <ol class="breadcrumb aboutus-nav">
            <li><a href="{:url('index/index')}">HOME</a></li>
            <li>NEWS</li>
        </ol>
    </div>
    <div class="row">

        <div class="col-sm-9 col-md-9">
            <div class="news-list">
                <h4>News</h4>
                <ul>
                {notempty name="list"}
                    {volist name="list" id="news"}
                    <li><a href="{:url('news/detail','id='.$news.id)}"></span>{$news.title}</a><span class="news-date">{$news.create_time}</span></li>
                    {/volist}
                {/notempty}
                </ul>
                {$list->render()}
            </div>
        </div>
        <!--联系我们-->
        {include file="public/contact"}
    </div>
</div>

{include file="public/footer"}